Repository JohnFawkes/iac, changes with the labels that .github/labeler.yml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/docker, area/terraform, area/ansible, area/packer

.github/labeler.yml:

---
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/docker:
  - changed-files:
      - any-glob-to-any-file: "docker/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "terraform/**/*"
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "ansible/**/*"
area/packer:
  - changed-files:
      - any-glob-to-any-file: "packer/**/*"

update tz
  kubernetes/apps/arr/bazarr/app/helmrelease.yaml
  kubernetes/apps/arr/dispatcharr/app/helmrelease.yaml
  kubernetes/apps/arr/flaresolverr/app/helmrelease.yaml
  kubernetes/apps/arr/lidarr/app/helmrelease.yaml
  kubernetes/apps/arr/prowlarr/app/helmrelease.yaml
  kubernetes/apps/arr/radarr/app/helmrelease.yaml
  kubernetes/apps/arr/recyclarr/app/helmrelease.yaml
  kubernetes/apps/arr/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/arr/sabnzbd/nfs-cleaner/helmrelease.yaml
  kubernetes/apps/arr/seerr/app/helmrelease.yaml
  kubernetes/apps/arr/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix open terminal
  docker/ai/compose.yaml
Labels: area/docker

fix(metrics): update speedtest queries
  kubernetes/apps/monitoring/kromgo/app/config.yaml
Labels: area/kubernetes

mv dispatcharr to docker
  docker/dispatcharr/compose.yml
  docker/secret-mappings.yml
  kubernetes/apps/arr/dispatcharr/app/helmrelease.yaml
  kubernetes/apps/arr/dispatcharr/app/kustomization.yaml
  kubernetes/apps/arr/dispatcharr/app/source.yaml
  kubernetes/apps/arr/dispatcharr/ks.yaml
  kubernetes/apps/arr/kustomization.yaml
Labels: area/kubernetes, area/docker

migrate nixos to iac repo
  .github/renovate.json
  README.md
  nixos/.gitignore
  nixos/.sops.yaml
  nixos/README.md
  nixos/common/comin.nix
  nixos/common/default.nix
  nixos/common/home.nix
  nixos/common/nix.nix
  nixos/common/openssh.nix
  nixos/common/packages.nix
  nixos/common/sops.nix
  nixos/common/users.nix
  nixos/deploy.nix
  nixos/flake.lock
  nixos/flake.nix
  nixos/hosts/laptop/boot.nix
  nixos/hosts/laptop/default.nix
  nixos/hosts/laptop/desktop.nix
  nixos/hosts/laptop/disk-config.nix
  nixos/hosts/laptop/hardware.nix
  nixos/hosts/laptop/home.nix
  nixos/hosts/laptop/packages.nix
  nixos/hosts/racknerd-vps/boot.nix
  nixos/hosts/racknerd-vps/default.nix
  nixos/hosts/racknerd-vps/disk-config.nix
  nixos/hosts/racknerd-vps/home.nix
  nixos/hosts/racknerd-vps/networking.nix
  nixos/hosts/racknerd-vps/packages.nix
  nixos/hosts/template/default.nix
  nixos/hosts/template/disk-config.nix
  nixos/hosts/template/home.nix
  nixos/hosts/wsl/default.nix
  nixos/hosts/wsl/home.nix
  nixos/secrets/laptop.yaml
  nixos/secrets/racknerd-vps.yaml
Labels: area/docs, area/github

tf state update
  terraform/authentik/cloudflare.tf
  terraform/authentik/flows.tf
  terraform/authentik/kasm.tf
  terraform/authentik/matrix.tf
  terraform/authentik/oracle.tf
  terraform/authentik/outpost.tf
  terraform/authentik/pdf.tf
  terraform/authentik/pgadmin.tf
  terraform/authentik/policy_expressions.tf
  terraform/authentik/property_mappings.tf
  terraform/authentik/proxmox.tf
  terraform/authentik/vaultwarden.tf
  terraform/cloudflare/dns_records_io.tf
  terraform/cloudflare/zero_trust_tunnel_config.tf
  terraform/oracle/instances.tf
  terraform/oracle/security_lists.tf
  terraform/proxmox/omni.tf
Labels: area/terraform
